
.icon-lightbulb:before { content: '\e800'; } /* '' */
.icon-up-circled:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */